@{
    ViewData["Title"] = "Home";
    @using Microsoft.AspNetCore.Http;
    @using ProyectMVC.Entidades;
    @using System.Collections.Generic;
    var tipo = Context.Session.GetString("TIPO").ToString();
    IList<Ent_Cliente> lista = ViewData["listaClientes"] as IList<Ent_Cliente>;
    IList<Ent_Contacto> listaContac = ViewData["listaContactos"] as IList<Ent_Contacto>;
    IList<Ent_Usuario> listaUsuario = ViewData["listaUsuarios"] as IList<Ent_Usuario>;
    IList<Ent_Reunion> listaReuniones = ViewData["listaReuniones"] as IList<Ent_Reunion>;
}
<div id="content" style=" height: 109vh; padding: 0;">
    @if (tipo == "Admin")
    {
        <div id="usuarios_div" style="overflow-y: scroll; height: 100%; overflow:hidden; ">
            <ul class="collection with-header" style="width: 95%; margin: auto; margin-top: 25px;">
                <li class="collection-header" style="padding-left: 15px; background-color: #1e1e1e; border-bottom: 0;"><h4 style="color: dodgerblue; text-align: center; ">Lista de Usuarios</h4></li>
                <li class="collection-item">
                    <table>
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Password</th>
                                <th>Nombre</th>
                                <th>Correo</th>

                                <th>Actualizar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var usuario in ViewData["listaUsuarios"] as IList<Ent_Usuario>)
                            {
                                if (usuario.Tipo != "Admin")
                                {
                                    <tr>
                                        <td>@usuario.Avatar</td>
                                        <td>@usuario.Password</td>
                                        <td>@usuario.Nombre</td>
                                        <td>@usuario.Correo</td>

                                        <td><a class="waves-effect waves-light btn modal-trigger" href="#modal_act_usuario" onclick="getUser(@usuario.Id)"><i class="material-icons right">autorenew</i>Actualizar</a></td>
                                        <td>
                                            <form asp-action="EliminarUsuario" method="post">
                                                <button type="submit" name="id_user" value="@usuario.Id" class="waves-effect waves-light btn"><i class="material-icons right">clear</i>Eliminar</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            }



                        </tbody>
                    </table>
                </li>

            </ul>
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large red modal-trigger waves-effect" href="#registroUser">
                    <i class="large material-icons">add</i>
                </a>

            </div>

        </div>
    }

    <div id="clientes_div" style="overflow-y: scroll; height: 100%; overflow:hidden;">
        <ul class="collection with-header" style="width: 95%; margin: auto; margin-top: 25px;">
            <li class="collection-header" style="padding-left: 15px; background-color: #1e1e1e; border-bottom: 0;"><h4 style="color: dodgerblue; text-align: center; ">Lista de Clientes</h4></li>
            <li class="collection-item">
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Cédula Jurídica</th>
                            <th>Sitio Web</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            <th>Sector</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var cliente in ViewData["listaClientes"] as IList<Ent_Cliente>)
                        {

                            <tr>
                                <td>@cliente.Nombre</td>
                                <td>@cliente.Cedula</td>
                                <td>@cliente.Sitio</td>
                                <td>@cliente.Direccion</td>
                                <td>@cliente.Numero</td>
                                <td>@cliente.Sector</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </li>

        </ul>
        <div class="fixed-action-btn toolbar">
            <a class="btn-floating btn-large red">
                <i class="large material-icons">mode_edit</i>
            </a>
            <ul id="menu_cliente">
                <li class="waves-effect waves-light"><a class="waves-effect waves-light btn modal-trigger" href="#modal_reg_cliente"><i class="material-icons">add</i></a></li>
                <li class="waves-effect waves-light"><a class="waves-effect waves-light btn modal-trigger" href="#modal_act_cliente"><i class="material-icons">autorenew</i></a></li>
                <li class="waves-effect waves-light"><a class="waves-effect waves-light btn modal-trigger" href="#modal_del_cliente"><i class="material-icons">clear</i></a></li>
            </ul>
        </div>
    </div>
    <div id="contactos_div" style="overflow-y: scroll; height: 100%; overflow:hidden; padding:20px">
        <ul class="collapsible popout" data-collapsible="accordion">
            @foreach (var cliente in ViewData["listaClientes"] as IList<Ent_Cliente>)
            {
                <li>
                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>@cliente.Nombre <span style="color:dodgerblue;">[@cliente.Cedula]</span></div>
                    <div class="collapsible-body">
                        <table>
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Correo</th>
                                    <th>Teléfono</th>
                                    <th>Puesto</th>
                                    <th>Actualizar</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>

                            <tbody>
                                @if (ViewData["listaContactos"] != null)
                                {
                                    @foreach (var contacto in ViewData["listaContactos"] as IList<Ent_Contacto>)
                                    {
                                        if (contacto.Id_cliente == cliente.Id)
                                        {
                                            <tr>
                                                <td>@contacto.Nombre</td>
                                                <td>@contacto.Apellido</td>
                                                <td>@contacto.Correo</td>
                                                <td>@contacto.Numero</td>
                                                <td>@contacto.Puesto</td>
                                                <td><a class="waves-effect waves-light btn modal-trigger" href="#modal_act_contacto" onclick="getContact(@contacto.Id)"><i class="material-icons right">autorenew</i>Actualizar</a></td>
                                                <td>
                                                    <form asp-action="EliminarContacto" method="post">
                                                        <button type="submit" name="id_contacto" value="@contacto.Id" class="waves-effect waves-light btn"><i class="material-icons right">clear</i>Eliminar</button>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }


                            </tbody>
                        </table>
                    </div>
                </li>
            }
        </ul>
        <div class="fixed-action-btn toolbar">
            <a class="btn-floating btn-large red">
                <i class="large material-icons">mode_edit</i>
            </a>
            <ul id="menu_cliente">
                <li class="waves-effect waves-light"><a class="waves-effect waves-light btn modal-trigger" href="#modal_reg_contacto"><i class="material-icons">insert_chart</i></a></li>
                <li class="waves-effect waves-light"><a class="waves-effect waves-light btn modal-trigger" href="#modal_act_contacto"><i class="material-icons">format_quote</i></a></li>
                <li class="waves-effect waves-light"><a class="waves-effect waves-light btn modal-trigger" href="#modal_del_contacto"><i class="material-icons">publish</i></a></li>
            </ul>
        </div>
    </div>
    <div id="reuniones_div" style="overflow-y: scroll; height: 100%; overflow:hidden;">
        <ul class="collection with-header" style="width: 95%; margin: auto; margin-top: 25px; overflow:visible;">
            <li class="collection-header" style="padding-left: 15px; background-color: #1e1e1e; border-bottom: 0;"><h4 style="color: dodgerblue; text-align: center; ">Lista de Reuniones</h4></li>
            <li class="collection-item">
                <table>
                    <thead>
                        <tr>
                            <th>Titulo</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Usuarios</th>

                            <th>Virtual</th>
                            <th>Cliente</th>
                            <th>Actualizar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{var contador = 0;

                            IList<Ent_Reu_Usuarios> listaUsuariosReu = null;
                        }
                        @foreach (var reuniones in ViewData["listaReuniones"] as IList<Ent_Reunion>)
                        {
                            listaUsuariosReu = reuniones.Usuarios;

                            <tr>
                                <td>@reuniones.Titulo</td>
                                <td>@reuniones.Dia</td>
                                <td>@reuniones.Tiempo</td>
                                <!-- Dropdown Structure -->
                                <ul id='dropdown_@contador' class='dropdown-content'>
                                    @foreach (var reu_usuario in listaUsuariosReu)
                                    {
                                        @foreach (var usuarios in ViewData["listaUsuarios"] as IList<Ent_Usuario>)
                                        {
                                            if (reu_usuario.Id_reunion == reuniones.Id && reu_usuario.Id_usuario == usuarios.Id)
                                            {
                                                <li><a href="#!"><i class="material-icons">account_circle</i>@usuarios.Avatar</a></li>
                                            }
                                        }
                                    }
                                </ul>
                                <td><a class='dropdown-button btn' href='#' data-activates='dropdown_@contador'>Ver Usuarios</a></td>
                                <td>
                                    <p>
                                        @if (reuniones.Linea == 0)
                                        {
                                            <input type="checkbox" id="test7" checked="checked" disabled="disabled" />
                                            <label for="test7"></label>
                                        }
                                        else
                                        {
                                            <input type="checkbox" checked="checked" disabled="disabled" />
                                        }


                                    </p>
                                </td>
                                <td>
                                    @foreach (var cliente in ViewData["listaClientes"] as IList<Ent_Cliente>)
                                    {
                                        if (cliente.Id == reuniones.Cliente)
                                        {
                                            <p>@cliente.Nombre.ToString()</p>
                                        }
                                    }
                                </td>
                                <td><a class="waves-effect waves-light btn modal-trigger" href="#modal_act_reunion" onclick="getReunion(@reuniones.Id)"><i class="material-icons right">autorenew</i>Actualizar</a></td>
                                <td>
                                    <form asp-action="EliminarReunion" method="post">
                                        <button type="submit" name="id" value="@reuniones.Id" class="waves-effect waves-light btn"><i class="material-icons right">clear</i>Eliminar</button>
                                    </form>
                                </td>
                            </tr>
                        }



                    </tbody>
                </table>
            </li>

        </ul>
        <div class="fixed-action-btn toolbar">
            <a class="btn-floating btn-large red">
                <i class="large material-icons">mode_edit</i>
            </a>
            <ul id="menu_cliente">
                <li class="waves-effect waves-light"><a class="waves-effect waves-light btn modal-trigger" href="#modal_reg_reunion"><i class="material-icons">insert_chart</i></a></li>
                <li class="waves-effect waves-light"><a class="waves-effect waves-light btn modal-trigger" href="#modal_act_reunion"><i class="material-icons">format_quote</i></a></li>
                <li class="waves-effect waves-light"><a class="waves-effect waves-light btn modal-trigger" href="#modal_del_reunion"><i class="material-icons">publish</i></a></li>
            </ul>
        </div>
    </div>
    <div id="tikets_div" style="overflow-y: scroll; height: 100%; overflow:hidden;">
        <ul class="collection with-header" style="width: 95%; margin: auto; margin-top: 25px; overflow:visible;">
            <li class="collection-header" style="padding-left: 15px; background-color: #1e1e1e; border-bottom: 0;"><h4 style="color: dodgerblue; text-align: center; ">Lista de Tikets</h4></li>
            <li class="collection-item">
                <table>
                    <thead>
                        <tr>
                            <th>Titulo</th>
                            <th>Detalle</th>
                            <th>Reportante</th>
                            <th>Cliente</th>
                            <th>Estado</th>
                            <th>Actualizar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                        
                    <tbody>
                        
                      <tr>
                          <td></td>
                      </tr>

                    </tbody>
                </table>
            </li>

        </ul>
        <div class="fixed-action-btn toolbar">
            <a class="btn-floating btn-large red">
                <i class="large material-icons">mode_edit</i>
            </a>
            <ul id="menu_cliente">
                <li class="waves-effect waves-light"><a class="waves-effect waves-light btn modal-trigger" href="#modal_reg_reunion"><i class="material-icons">insert_chart</i></a></li>
                <li class="waves-effect waves-light"><a class="waves-effect waves-light btn modal-trigger" href="#modal_act_reunion"><i class="material-icons">format_quote</i></a></li>
                <li class="waves-effect waves-light"><a class="waves-effect waves-light btn modal-trigger" href="#modal_del_reunion"><i class="material-icons">publish</i></a></li>
            </ul>
        </div>
    </div>
</div>
@if (tipo == "Admin")
{
    <div id="registroUser" class="modal">
        <form asp-action="RegistrarUsuario" method="post">
            <div class="modal-content">
                <h4 class="center">Registro</h4>
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_box</i>
                                <input id="usuario" type="text" name="avatar" class="validate">
                                <label for="usuario">Usuario</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">verified_user</i>
                                <input id="contra" type="password" name="contrasena" class="validate">
                                <label for="contra">Contraseña</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">business</i>
                                <input id="nombre" type="text" name="nombre" class="validate">
                                <label for="nombre">Nombre</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">language</i>
                                <input id="sitio" type="text" name="correo" class="validate">
                                <label for="sitio">Correo Electronico</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <h4 class="center"><button type="submit" class="modal-action  modal-close waves-effect waves-green btn-flat">Registrar</button></h4>
            </div>
        </form>
    </div>
}
<!--USUARIO-->
    <div id="modal_act_usuario" class="modal modal-fixed-footer" style="overflow-y:hidden;">
        <form asp-action="ActualizarUsuario" method="post">
            <div class="modal-content" style="overflow-x:hidden">
                <h4 class="center">Actualizar Usuario</h4>
                <input type="text" id="id_act_user" name="id_user" value="" style="display:none;" />

                <div class="input-field">
                    <i class="material-icons prefix">create</i>
                    <input id="nombre_user_act" type="text" name="nombre">
                    <label for="nombre_user_act">Nombre</label>
                </div>
                <div class="input-field ">
                    <i class="material-icons prefix">assignment_ind</i>
                    <input id="avatar_user_act" type="text" name="avatar">
                    <label for="avatar_user_act">Avatar</label>
                </div>

                <div class="input-field">
                    <i class="material-icons prefix">call</i>
                    <input id="contra_user_act" type="text" name="contrasena">
                    <label for="contra_user_act">Password</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">link</i>
                    <input id="email_user_act" type="email" class="validate" name="correo">
                    <label for="email_user_act">Correo Electrónico</label>
                </div>
                
            </div>
            <div class="modal-footer">
                <h4 class="center">
                    <button class="btn waves-effect waves-light col s12 m4" type="submit" name="action">
                        Actualizar
                    </button>
                </h4>
            </div>
            <script>
                function getUser(id) {
             var trew = @Html.Raw(Json.Serialize(listaUsuario));
            for (var i = 0; i < trew.length; i++) {
                if (id == trew[i]["id"]) {
                    document.getElementById("id_act_user").value = id;
                    document.getElementById("nombre_user_act").value = trew[i]["nombre"];
                    document.getElementById("avatar_user_act").value = trew[i]["avatar"];
                    document.getElementById("email_user_act").value = trew[i]["correo"];
                    document.getElementById("contra_user_act").value = trew[i]["password"];
                   
                }
            }
        }
            </script>
        </form>
    </div>
<!--Cliente-->
<div id="modal_reg_cliente" class="modal modal-fixed-footer" style="overflow-y:hidden;">
    <form asp-action="RegistrarCliente" method="post">
        <div class="modal-content">
            <h4 class="center">Registrar Cliente</h4>
            <div class="input-field">
                <i class="material-icons prefix">create</i>
                <input id="new_name" type="text" name="nombre">
                <label for="new_name">Nombre Cliente</label>
            </div>
            <div class="input-field ">
                <i class="material-icons prefix">assignment_ind</i>
                <input id="new_name" type="text" name="cedula_juri">
                <label for="new_name">Cédula Jurídica</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">link</i>
                <input id="new_name" type="text" name="sitio">
                <label for="new_name">Dirección Sitio Web</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">home</i>
                <input id="new_name" type="text" name="direccion">
                <label for="new_name">Dirección Física</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">call</i>
                <input id="new_name" type="text" name="numero">
                <label for="new_name">Número Teléfono</label>
            </div>
            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">store</i>
                    <select name="sector">
                        <option disabled selected>Seleccione un sector</option>
                        <option value="Educación">Educación</option>
                        <option value="Industria">Industria</option>
                        <option value="Agricultura">Agricultura</option>
                        <option value="Manufactura">Manufactura</option>
                        <option value="Servicios">Servicios</option>
                        <option value="Otros">Otros</option>
                    </select>
                    <label>Sector</label>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <h4 class="center">
                <button class="btn waves-effect waves-light col s12 m4" type="submit" name="action">
                    Agregar
                </button>
            </h4>
        </div>
    </form>
</div>
<div id="modal_act_cliente" class="modal modal-fixed-footer" style="overflow-y:hidden;">
    <form asp-action="ActualizarCliente" method="post">
        <div class="modal-content">
            <h4 class="center">Actualizar Cliente</h4>
            <div class="input-field">
                <i class="material-icons prefix ">expand_more</i>
                <select class="icons" id="cliente_act" onchange="getval(this);" name="cliente">
                    <option value=" " disabled selected>Seleccione un cliente</option>
                    @foreach (var cliente in ViewData["listaClientes"] as IList<Ent_Cliente>)
                    {
                        <option value="@cliente.Id">@cliente.Nombre    /   @cliente.Cedula</option>
                    }
                </select>
                <label>Cliente</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">create</i>
                <input id="nombre_cliente" type="text" name="nombre">
                <label for="new_name">Nombre Cliente</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">assignment_ind</i>
                <input id="cedula_cliente" type="text" name="cedula_juri">
                <label for="new_name">Cédula Jurídica</label>
            </div>
            <div class="input-field col s12 m4">
                <i class="material-icons prefix">link</i>
                <input id="sitio_cliente" type="text" name="sitio">
                <label for="new_name">Dirección Sitio Web</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">home</i>
                <input id="direccion_cliente" type="text" name="direccion">
                <label for="new_name">Dirección Física</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">call</i>
                <input id="numero_cliente" type="text" name="numero">
                <label for="new_name">Número Teléfono</label>
            </div>
            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">store</i>
                    <select id="sector_cliente" name="sector">
                        <option value="" disabled selected>Seleccione un sector</option>
                        <option value="Educacion">Educación</option>
                        <option value="Industria">Industria</option>
                        <option value="Agricultura">Agricultura</option>
                        <option value="Manufactura">Manufactura</option>
                        <option value="Servicios">Servicios</option>
                        <option value="Otros">Otros</option>
                    </select>
                    <label>Sector</label>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <h4 class="center">
                <button class="btn waves-effect waves-light col s12 m4" type="submit" name="action">
                    Actualizar
                </button>
            </h4>
        </div>

        <script>

        function getval(x) {
             var trew = @Html.Raw(Json.Serialize(lista));
            for (var i = 0; i < trew.length; i++) {
                if (x.options[x.selectedIndex].value == trew[i]["id"]) {
                    document.getElementById("nombre_cliente").value = trew[i]["nombre"];
                    document.getElementById("cedula_cliente").value = trew[i]["cedula"];
                    document.getElementById("sitio_cliente").value = trew[i]["sitio"];
                    document.getElementById("direccion_cliente").value = trew[i]["direccion"];
                    document.getElementById("numero_cliente").value = trew[i]["numero"];
                    var select = document.getElementById("sector_cliente");
                    for (var j = 1; j < select.length; j++) {
                        var ddd = trew[i]["sector"];
                        var fff = select.options[j].text;

                        if (select.options[j].text == trew[i]["sector"]) {
                            document.ready = document.getElementById("sector_cliente").value = trew[i]["sector"];
                            fff = select.options[j].value;
                        }
                    }
                }
            }
        }
        </script>
    </form>
</div>
<div id="modal_del_cliente" class="modal modal-fixed-footer" style="overflow-y:hidden;">
    <form asp-action="EliminarCliente" method="post">
        <div class="modal-content">
            <h4 class="center">Eliminar Cliente</h4>
            <div class="input-field">
                <i class="material-icons prefix ">expand_more</i>
                <select class="icons" id="cliente_del" onchange="getval2(this);" name="cliente_del">
                    <option value=" " disabled selected>Seleccione un cliente</option>
                    @foreach (var cliente in ViewData["listaClientes"] as IList<Ent_Cliente>)
                    {
                        <option value="@cliente.Id">@cliente.Nombre    /   @cliente.Cedula</option>
                    }
                </select>
                <label>Código</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">create</i>
                <input id="nombre_del" type="text" disabled>
                <label for="new_name">Nombre Cliente</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">assignment_ind</i>
                <input id="cedula_del" type="text" disabled>
                <label for="new_name">Cédula Jurídica</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">link</i>
                <input id="sitio_del" type="text" disabled>
                <label for="new_name">Dirección Sitio Web</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">home</i>
                <input id="direccion_del" type="text" disabled>
                <label for="new_name">Dirección Física</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">call</i>
                <input id="numero_del" type="text" disabled>
                <label for="new_name">Número Teléfono</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">call</i>
                <input id="sector_del" type="text" disabled>
                <label for="new_name">Sector</label>
            </div>
            <script>

        function getval2(x) {
             var trew = @Html.Raw(Json.Serialize(lista));
            for (var i = 0; i < trew.length; i++) {
                if (x.options[x.selectedIndex].value == trew[i]["id"]) {
                    document.getElementById("nombre_del").value = trew[i]["nombre"];
                    document.getElementById("cedula_del").value = trew[i]["cedula"];
                    document.getElementById("sitio_del").value = trew[i]["sitio"];
                    document.getElementById("direccion_del").value = trew[i]["direccion"];
                    document.getElementById("numero_del").value = trew[i]["numero"];
                    document.getElementById("sector_del").value = trew[i]["sector"];
                }
            }
        }
            </script>
        </div>
        <div class="modal-footer">
            <h4 class="center">
                <button class="btn waves-effect waves-light col s12 m4" type="submit" name="action">
                    Eliminar
                </button>
            </h4>
        </div>
    </form>
</div>
<!--Contacto-->
<div id="modal_reg_contacto" class="modal modal-fixed-footer" style="overflow-y:hidden;">
    <form asp-action="RegistrarContacto" method="post">
        <div class="modal-content" style="overflow-x:hidden">
            <h4 class="center">Registrar Contacto</h4>
            <div class="input-field">
                <i class="material-icons prefix ">expand_more</i>
                <select class="icons" id="cliente_act" onchange="getval(this);" name="id_cliente">
                    <option value=" " disabled selected>Seleccione un cliente</option>
                    @foreach (var cliente in ViewData["listaClientes"] as IList<Ent_Cliente>)
                    {
                        <option value="@cliente.Id">@cliente.Nombre    /   @cliente.Cedula</option>
                    }
                </select>
                <label>Cliente</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">create</i>
                <input id="new_name" type="text" name="nombre">
                <label for="new_name">Nombre Contacto</label>
            </div>
            <div class="input-field ">
                <i class="material-icons prefix">assignment_ind</i>
                <input id="new_name" type="text" name="apellidos">
                <label for="new_name">Apellidos</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">link</i>
                <input id="email" type="email" class="validate" name="correo">
                <label for="email">Correo Electrónico</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">call</i>
                <input id="new_name" type="text" name="numero">
                <label for="new_name">Número Teléfono</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">home</i>
                <input id="new_name" type="text" name="puesto">
                <label for="new_name">Puesto Laboral</label>
            </div>
        </div>
        <div class="modal-footer">
            <h4 class="center">
                <button class="btn waves-effect waves-light col s12 m4" type="submit" name="action">
                    Agregar
                </button>
            </h4>
        </div>
    </form>
</div>
<div id="modal_act_contacto" class="modal modal-fixed-footer" style="overflow-y:hidden;">
    <form asp-action="ActualizarContacto" method="post">
        <div class="modal-content" style="overflow-x:hidden">
            <h4 class="center">Actualizar Contacto</h4>
            <input type="text" id="id_act_contac" name="id_contacto" value="" style="display:none;" />
            <div class="input-field">
                <i class="material-icons prefix ">expand_more</i>
                <select class="icons" id="cliente_contacto" name="id_cliente">
                    <option value=" " disabled selected>Seleccione un cliente</option>
                    @foreach (var cliente in ViewData["listaClientes"] as IList<Ent_Cliente>)
                    {
                        <option value="@cliente.Id">@cliente.Nombre    /   @cliente.Cedula</option>
                    }
                </select>
                <label>Cliente</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">create</i>
                <input id="nombre_contacto_act" type="text" name="nombre">
                <label for="nombre_contacto_act">Nombre Contacto</label>
            </div>
            <div class="input-field ">
                <i class="material-icons prefix">assignment_ind</i>
                <input id="apellidos_contacto_act" type="text" name="apellidos">
                <label for="apelidos_contacto_act">Apellidos</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">link</i>
                <input id="email_contacto_act" type="email" class="validate" name="correo">
                <label for="email_contacto_act">Correo Electrónico</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">call</i>
                <input id="numero_contacto_act" type="text" name="numero">
                <label for="numero_contacto_act">Número Teléfono</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">home</i>
                <input id="puesto_contacto_act" type="text" name="puesto">
                <label for="puesto_contacto_act">Puesto Laboral</label>
            </div>
        </div>
        <div class="modal-footer">
            <h4 class="center">
                <button class="btn waves-effect waves-light col s12 m4" type="submit" name="action">
                    Actualizar
                </button>
            </h4>
        </div>
        <script>

            function getContact(id) {
            //modal_act_contacto
             var trew = @Html.Raw(Json.Serialize(listaContac));
            for (var i = 0; i < trew.length; i++) {
                if (id == trew[i]["id"]) {
                    document.getElementById("id_act_contac").value = id;
                    document.getElementById("nombre_contacto_act").value = trew[i]["nombre"];
                    document.getElementById("apellidos_contacto_act").value = trew[i]["apellido"];
                    document.getElementById("email_contacto_act").value = trew[i]["correo"];
                    document.getElementById("numero_contacto_act").value = trew[i]["numero"];
                    document.getElementById("puesto_contacto_act").value = trew[i]["puesto"];
                    var select = document.getElementById("cliente_contacto");
                    document.ready = document.getElementById("cliente_contacto").value = trew[i]["id_cliente"];
                    for (var j = 1; j < select.length; j++) {
                        if (select.options[j].text == trew[i]["id_cliente"]) {
                            document.ready = document.getElementById("cliente_contacto").value = trew[i]["id_cliente"];
                        }
                    }
                }
            }
        }
        </script>
    </form>
</div>
<!--Reunion-->
<div id="modal_reg_reunion" class="modal modal-fixed-footer" style="overflow-y:hidden;">
    <form asp-action="RegistrarReunion" method="post">
        <div class="modal-content" style="overflow-x:hidden">
            <h4 class="center">Registrar Reunión</h4>
            <div class="input-field">
                <i class="material-icons prefix">create</i>
                <input id="new_name" type="text" name="titulo">
                <label for="new_name">Nombre de la reunión</label>
            </div>
            <div class="input-field ">
                <i class="material-icons prefix">event</i>
                <input type="text" class="datepicker" name="dia">
                <label for="new_name">Fecha</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">access_alarm</i>
                <input type="text" class="timepicker" name="hora">
                <label for="email">Hora</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">group</i>
                <select multiple name="usuarios[]">
                    <option value="" disabled selected>Seleccione a los usuarios</option>
                    @foreach (var usuario in ViewData["listaUsuarios"] as IList<Ent_Usuario>)
                {
                    <option value="@usuario.Id">@usuario.Avatar</option>
            }
                </select>
                
                <label>Materialize Multiple Select</label>
            </div>
            <div class="row">

                <h5><i class="material-icons prefix" style="margin-right:12px;">event</i> Virtual</h5>
                <div class="switch" style="margin-left:40px;">
                    <label>
                        Off<input type="checkbox" checked name="linea">
                        <span class="lever"></span>On
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">group</i>
                    <select class="icons" id="cliente_contacto" name="cliente">
                        <option value=" " disabled selected>Seleccione un cliente</option>
                        @foreach (var cliente in ViewData["listaClientes"] as IList<Ent_Cliente>)
                    {
                        <option value="@cliente.Id">@cliente.Nombre    /   @cliente.Cedula</option>
                }
                    </select>
                    <label>Opcional</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <h4 class="center">
                <button class="btn waves-effect waves-light col s12 m4" type="submit" name="action">
                    Agregar
                </button>
            </h4>
        </div>
    </form>
</div>
<div id="modal_act_reunion" class="modal modal-fixed-footer" style="overflow-y:hidden;">

        <form asp-action="ActualizarReunion" method="post">
            <input type="text" name="id" value="" id="id_reunion" style="display:none;" />
            <div class="modal-content" style="overflow-x:hidden">
                <h4 class="center">Actualizar Reunión</h4>
                <div class="input-field">
                    <i class="material-icons prefix">create</i>
                    <input id="titulo_reunion" type="text" name="titulo">
                    <label for="titulo_reunion">Nombre de la reunión</label>
                </div>
                <div class="input-field ">
                    <i class="material-icons prefix">event</i>
                    <input type="text" class="datepicker" name="dia" id="dia_reunion">
                    <label for="dia_reunion">Fecha</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">access_alarm</i>
                    <input type="text" class="timepicker" name="hora" id="hora_reunion">
                    <label for="hora_reunion">Hora</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">group</i>
                    <select multiple name="usuarios[]" id="usuarios_reunion">
                        <option value="" disabled selected>Seleccione a los usuarios</option>
                        @foreach (var usuario in ViewData["listaUsuarios"] as IList<Ent_Usuario>)
                {
                    <option value="@usuario.Id">@usuario.Avatar</option>
        }
                    </select>

                    <label>Materialize Multiple Select</label>
                </div>
                <div class="row">

                    <h5><i class="material-icons prefix" style="margin-right:12px;">event</i> Virtual</h5>
                    <div class="switch" style="margin-left:40px;">
                        <label>
                            Off<input type="checkbox" checked name="linea" id="virtual">
                            <span class="lever"></span>On
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <i class="material-icons prefix">group</i>
                        <select class="icons" id="cliente_reunion" name="cliente">
                            <option value=" " disabled selected>Seleccione un cliente</option>
                            @foreach (var cliente in ViewData["listaClientes"] as IList<Ent_Cliente>)
                    {
                        <option value="@cliente.Id">@cliente.Nombre    /   @cliente.Cedula</option>
            }
                        </select>
                        <label>Opcional</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <h4 class="center">
                    <button class="btn waves-effect waves-light col s12 m4" type="submit" name="action">
                        Agregar
                    </button>
                </h4>
            </div>
            <script>

            function getReunion(id) {
             var trew = @Html.Raw(Json.Serialize(listaReuniones));
            for (var i = 0; i < trew.length; i++) {
                if (id == trew[i]["id"]) {
                    document.getElementById("id_reunion").value = id;
                    document.getElementById("titulo_reunion").value = trew[i]["titulo"];
                    document.getElementById("dia_reunion").value = trew[i]["dia"];
                    document.getElementById("hora_reunion").value = trew[i]["tiempo"];
                    document.getElementById("virtual").value = trew[i]["virtual"];

                    var select = document.getElementById("cliente_reunion");
                    document.ready = document.getElementById("cliente_reunion").value = trew[i]["id_cliente"];
                    for (var j = 1; j < select.length; j++) {
                        if (select.options[j].text == trew[i]["id_cliente"]) {
                            document.ready = document.getElementById("cliente_reunion").value = trew[i]["id_cliente"];
                        }
                    }
                }
                }
        }
            </script>
        </form>
   
    
</div>
<div id="modal_del_reunion" class="modal modal-fixed-footer" style="overflow-y:hidden;">
    <div class="modal-content">
        <h4 class="center">Eliminar Reunión</h4>
        <div class="input-field">
            <i class="material-icons prefix ">expand_more</i>
            <select class="icons">
                <option value=" " disabled selected>Seleccione una reunión</option>
                <option value=" ">example 1</option>
                <option value="">example 2</option>
                <option value="">example 3</option>
            </select>
            <label>Código</label>
        </div>
        <div class="input-field">
            <i class="material-icons prefix">create</i>
            <input id="new_name" type="text" disabled>
            <label for="new_name">Nombre de la reunión</label>
        </div>
        <div class="input-field ">
            <i class="material-icons prefix">event</i>
            <input type="text" class="datepicker" disabled>
            <label for="new_name">Fecha</label>
        </div>
        <div class="input-field">
            <i class="material-icons prefix">access_alarm</i>
            <input type="text" class="timepicker" disabled>
            <label for="email">Hora</label>
        </div>
        <div class="input-field">
            <select multiple>
                <option value="" disabled selected>Seleccione a los usuarios</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
            <label>Materialize Multiple Select</label>
        </div>
        <h5>Virtual</h5>
        <div class="switch">
            <label>
                Off
                <input type="checkbox" disabled>
                <span class="lever"></span>
                On
            </label>
        </div>
        <div class="row">
            <div class="input-field">
                <i class="material-icons prefix">group</i>
                <select>
                    <option value="" disabled selected>Seleccione un cliente</option>
                    <option value="Educación">Educación</option>
                    <option value="Industria">Industria</option>
                    <option value="Agricultura">Agricultura</option>
                </select>
                <label>Opcional</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <h4 class="center">
            <button class="btn waves-effect waves-light col s12 m4" type="submit" name="action">
                Eliminar
            </button>
        </h4>
    </div>
</div>

<div id="modal_reg_tiketes" class="modal modal-fixed-footer" style="overflow-y:hidden;">
    <form asp-action="RegistrarTikect" method="post">
        <div class="modal-content" style="overflow-x:hidden">
            <h4 class="center">Registrar Tikete</h4>
            <div class="input-field">
                <i class="material-icons prefix">create</i>
                <input id="new_name" type="text" name="titulo">
                <label for="new_name">Titulo</label>
            </div>
            <div class="input-field ">
                <i class="material-icons prefix">assignment_ind</i>
                <input id="new_name" type="text" name="detalle">
                <label for="new_name">Detalle</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix ">expand_more</i>
                <select class="icons" id="cliente_act" name="id_cliente">
                    <option value=" " disabled selected>Seleccione un cliente</option>
                    @foreach (var cliente in ViewData["listaClientes"] as IList<Ent_Cliente>)
            {
                <option value="@cliente.Id">@cliente.Nombre    /   @cliente.Cedula</option>
    }
                </select>
                <label>Cliente</label>
            </div>

           <div class="input-field">
                <i class="material-icons prefix ">expand_more</i>
                <select class="icons" id="cliente_act" name="estado">
                    <option value=" " disabled selected>Seleccione un cliente</option>
                    <option value="Abierto">Abierto</option>
                    <option value="Proceso">En Proceso</option>
                    <option value="Espera">En Espera</option>
                    <option value="Finalizado">Finalizado</option>
                </select>
                <label>Estado</label>
            </div>
        </div>
        <div class="modal-footer">
            <h4 class="center">
                <button class="btn waves-effect waves-light col s12 m4" type="submit" name="action">
                    Agregar
                </button>
            </h4>
        </div>
    </form>
</div>
